<ion-header>
  <ion-navbar>
    <ion-title>WhatsDun</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Choose One
    </ion-card-header>
    <ion-card-content>

      <ion-list radio-group [(ngModel)]="checkedFirst">
        <ion-item>
          <ion-label>Web Site</ion-label>
          <ion-radio value="Web Site"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Mobile App</ion-label>
          <ion-radio value="Mobile App"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf=checkedFirst>
    <ion-card-header>
      Everything you need for {{checkedFirst}} is
     </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          {{ item }}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
